Repository rewardMap/rewardGym, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Internal, Testing

.github/labeler.yml:

Documentation:
  - changed-files:
      - any-glob-to-any-file: ['docs/*', '.readthedocs.yml', 'README.md', 'LICENSE', 'MANIFEST.in', 'assets/*', 'notebooks/*']

Internal:
  - changed-files:
      - any-glob-to-any-file: ['.*', 'codecov.yml', 'setup.py', 'versioneer.py', '.github/*', 'rewardgym/_version.py', 'requirements.txt', 'pyproject.toml']

Testing:
  - changed-files:
      - any-glob-to-any-file: ['rewardgym/tests/*']

updating manifest in
  MANIFEST.in
Labels: Documentation

next manifest test
  MANIFEST.in
Labels: Documentation

forgot json files.
  MANIFEST.in
Labels: Documentation

trying to improve loading logic.
  rewardgym/tasks/task_loader.py
Labels: none

Small message on how to register new submodules.
  README.rst
Labels: none

updating init.
  rewardgym/__init__.py
Labels: none

reverting task loader
  rewardgym/tasks/task_loader.py
Labels: none

Replacing logger for response onset, to prevent some weirdness where response window onset might be placed before stimulus onset.
  rewardgym/psychopy_render/advanced_display.py
Labels: none

Adding a "no_flip" flag, that prevents winodw flips, to prevent unwanted updates for events that are purely for logging purposes.
  rewardgym/psychopy_render/psychopy_display.py
Labels: none

pygame does not use stubs yet, so adding a try except for pygame imports. Top level imports in init are somehow necessary to not conflict with the importing issues.
  rewardgym/__init__.py
Labels: none

Adding a new (experimental class), that displays a target and another stimulus after an action has been ushered. Idea is that response feedback (any kind of response) is more easily created this way.
  rewardgym/psychopy_render/__init__.py
  rewardgym/psychopy_render/advanced_display.py
Labels: none

removing incorrect logging event
  rewardgym/psychopy_render/advanced_display.py
Labels: none

implemented changes to task_loader (according to co-pilot) and it seems to solve all the importing errors so far. Now need to fix all the individual packages and the template.
  rewardgym/tasks/task_loader.py
Labels: none

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
Labels: none

streamlining timeout message
  rewardgym/psychopy_render/advanced_display.py
Labels: none

better handling of None duration for events
  rewardgym/psychopy_render/psychopy_display.py
Labels: none

changes to docs, task documentation should now be autogenerated from readmes.
  docs/conf.py
  docs/index.rst
  docs/tasks/gonogo.rst
  docs/tasks/hcp.rst
  docs/tasks/mid.rst
  docs/tasks/posner.rst
  docs/tasks/risk_sensitive.rst
  docs/tasks/two_step.rst
  pyproject.toml
Labels: Documentation, Internal

some timing corrections - especially for expected durations
  rewardgym/psychopy_render/advanced_display.py
Labels: none

allowing for a none duration event, just for logging
  rewardgym/psychopy_render/logger.py
Labels: none

adding a "noflip" option, that prevents flips in events
  rewardgym/psychopy_render/psychopy_display.py
Labels: none

ignoring rst files in tasks dir. These files will be automatically created from registered tasks.
  docs/tasks/.gitignore
Labels: none

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
Labels: none

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
Labels: none

Update pyproject.toml
  pyproject.toml
Labels: Internal

Update pyproject.toml
  pyproject.toml
Labels: Internal
