Repository rewardMap/rewardGym, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Internal, Testing

init now dynamically defines ENVIRONENMENT variable
  rewardgym/__init__.py
Labels: none

exposing all pygame functions in init
  rewardgym/pygame_render/__init__.py
Labels: none

Ignoring the task-template in registry.
  rewardgym/tasks/task_loader.py
Labels: none

Adding tasks as submodule
  .gitmodules
Labels: Internal

adding pyyaml as requirement
  pyproject.toml
Labels: Internal

installing data folders
  MANIFEST.in
  setup.py
Labels: Documentation, Internal

fixed typo in manisfet
  MANIFEST.in
  pyproject.toml
Labels: Documentation, Internal

fixed typo in manisfet
  MANIFEST.in
  pyproject.toml
Labels: Documentation, Internal

adding other yaml files in submodules
  MANIFEST.in
Labels: Documentation

adding submodules to checkout action
  .github/workflows/build-sphinx.yaml
  .github/workflows/pip-push.yaml
  .github/workflows/pip-tests.yaml
Labels: none

trying to exclude task specific git submodules from ruff linting.
  pyproject.toml
Labels: Internal

fixed ruff linting exclude for subpackages
  pyproject.toml
Labels: Internal

Updated pyproject toml to allow for importlib test discovery.
  pyproject.toml
Labels: Internal

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
Labels: none

Adding a rl_label field to logger
  rewardgym/psychopy_render/logger.py
Labels: none

rl label to all functions and a static method to slightly simplify logging
  rewardgym/psychopy_render/advanced_display.py
  rewardgym/psychopy_render/psychopy_display.py
Labels: none

Added new logging "rl_label" for either data extraction for rl tasks.
  rewardgym/psychopy_render/advanced_display.py
  rewardgym/tasks/utils.py
Labels: none

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
Labels: none

Adding very basic data handling tools and a few bugfixes.
  rewardgym/handling/__init__.py
  rewardgym/handling/data_tools.py
  rewardgym/psychopy_render/advanced_display.py
  rewardgym/runner/psychopy_runner.py
Labels: none

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
Labels: none

adding test and warnings to data tools, not sure how I feel about adding "pandas" to pyproject
  pyproject.toml
  rewardgym/handling/data_tools.py
  rewardgym/tests/test_data_handling.py
Labels: Internal, Testing

check_seed is now check_random_state
  rewardgym/__init__.py
  rewardgym/agents/base_agent.py
  rewardgym/agents/modelbased_agents.py
  rewardgym/environments/base_env.py
  rewardgym/psychopy_render/advanced_display.py
  rewardgym/reward_classes.py
  rewardgym/stimuli/default_images.py
  rewardgym/tests/test_utils.py
  rewardgym/utils.py
Labels: Testing

More seed to random_state renaming
  rewardgym/environments/base_env.py
  rewardgym/environments/psychopy_env.py
  rewardgym/environments/render_env.py
  rewardgym/psychopy_render/__init__.py
  rewardgym/psychopy_render/advanced_display.py
  rewardgym/psychopy_render/utils.py
  rewardgym/reward_classes.py
  rewardgym/tasks/utils.py
Labels: none

adding changes to example notebooks
  notebooks/psychopy_example.py
  notebooks/tutorial.py
Labels: Documentation

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
Labels: none

quick fix, to actually using random_state in runner function
  rewardgym/runner/psychopy_runner.py
Labels: none

resets can now be reset
  rewardgym/reward_classes.py
Labels: none

agents can now be reset
  rewardgym/agents/base_agent.py
  rewardgym/agents/modelbased_agents.py
Labels: none

Changed inits for agents for easier import
  rewardgym/agents/__init__.py
Labels: none

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
Labels: none

adding check against pandas config
  rewardgym/handling/data_tools.py
Labels: none

adding more data handling functions and a few more tests
  rewardgym/handling/data_tools.py
  rewardgym/tests/test_data_handling.py
Labels: Testing

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
Labels: none

minor changes
  .gitmodules
  rewardgym/runner/__init__.py
  rewardgym_psychopy.py
Labels: Internal

fixed robot factory and plugin handling
  rewardgym/runner/psychopy_runner.py
Labels: none

fixed bug in post_trial timing adjustment
  rewardgym/runner/psychopy_runner.py
Labels: none

added new functionality, to register tasks from outside of the rewardgym folder.
  rewardgym/__init__.py
  rewardgym/tasks/__init__.py
  rewardgym/tasks/task_loader.py
Labels: none

added robot factory to plugins - it's not a great fix and plugins should be configurable in task directories.
  rewardgym/runner/psychopy_plugins.py
Labels: none

somewhat smaller external plugin loader
  rewardgym/tasks/task_loader.py
Labels: none

fixed importing in instructions
  rewardgym/runner/psychopy_instructions.py
Labels: none

.github/labeler.yml:

Documentation:
  - changed-files:
      - any-glob-to-any-file: ['docs/*', '.readthedocs.yml', 'README.md', 'LICENSE', 'MANIFEST.in', 'assets/*', 'notebooks/*']

Internal:
  - changed-files:
      - any-glob-to-any-file: ['.*', 'codecov.yml', 'setup.py', 'versioneer.py', '.github/*', 'rewardgym/_version.py', 'requirements.txt', 'pyproject.toml']

Testing:
  - changed-files:
      - any-glob-to-any-file: ['rewardgym/tests/*']
