Repository rewardMap/rewardGym, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Internal, Testing

small update to instructions
  assets/instructions/instructions_en.json
Labels: none

small additional changes to instructions
  assets/instructions/gonogo_instructions.py
  assets/instructions/instructions_en.json
Labels: none

Implemented robot stimuli for gonogo task (#25)
  assets/instructions/gonogo_instructions_cards.py
  assets/instructions/instructions_en.json
  rewardgym/psychopy_core.py
  rewardgym/psychopy_render/default_images.py
  rewardgym/psychopy_render/gonogo.py
  rewardgym/psychopy_render/gonogo_images.py
Labels: none

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
Labels: none

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
Labels: none

renaming stimuli in psychopy render to displays
  rewardgym/psychopy_render/advanced_display.py
  rewardgym/psychopy_render/psychopy_display.py
Labels: none

moving all the different stimuli classes into seperate modules and trying to sort them
  rewardgym/stimuli/__init__.py
  rewardgym/stimuli/advanced_shapes.py
  rewardgym/stimuli/alien_images.py
  rewardgym/stimuli/create_images.py
  rewardgym/stimuli/default_images.py
  rewardgym/stimuli/fixation_images.py
  rewardgym/stimuli/robot_images.py
  rewardgym/stimuli/spaceship_images.py
Labels: none

Adapted psychopy displays according to new stimulus order
  rewardgym/psychopy_render/gonogo.py
  rewardgym/psychopy_render/hcp.py
  rewardgym/psychopy_render/mid.py
  rewardgym/psychopy_render/posner.py
  rewardgym/psychopy_render/risk_sensitive.py
  rewardgym/psychopy_render/two_step.py
Labels: none

bunch of restructuring (again) to prevent circular imports
  rewardgym/stimuli/__init__.py
  rewardgym/stimuli/advanced_shapes.py
  rewardgym/stimuli/create_images.py
  rewardgym/stimuli/default_images.py
  rewardgym/stimuli/fixation_images.py
  rewardgym/stimuli/robot_images.py
  rewardgym/tests/test_pychopy_render_risk_sensitive.py
Labels: Testing

addding a first step to explicitly draw stimuli
  rewardgym/tests/test_stimuli_complex.py
Labels: Testing

fixed imports according to new definitions in instructions
  assets/instructions/gonogo_instructions.py
  assets/instructions/gonogo_instructions_cards.py
  assets/instructions/hcp_instructions.py
  assets/instructions/mid_instructions.py
  assets/instructions/posner_instructions.py
  assets/instructions/risksensitive_instructions.py
  assets/instructions/twostep_instructions.py
  assets/instructions/twostep_instructions_cards.py
  notebooks/psychopy_example.py
Labels: Documentation

updated import for api
  docs/api/psychopy_stimuli.rst
Labels: none

Restructuring stimulus repository (#27)
  assets/instructions/gonogo_instructions.py
  assets/instructions/gonogo_instructions_cards.py
  assets/instructions/hcp_instructions.py
  assets/instructions/mid_instructions.py
  assets/instructions/posner_instructions.py
  assets/instructions/risksensitive_instructions.py
  assets/instructions/twostep_instructions.py
  assets/instructions/twostep_instructions_cards.py
  docs/api/psychopy_stimuli.rst
  notebooks/psychopy_example.py
  rewardgym/psychopy_render/advanced_display.py
  rewardgym/psychopy_render/gonogo.py
  rewardgym/psychopy_render/hcp.py
  rewardgym/psychopy_render/mid.py
  rewardgym/psychopy_render/posner.py
  rewardgym/psychopy_render/psychopy_display.py
  rewardgym/psychopy_render/risk_sensitive.py
  rewardgym/psychopy_render/two_step.py
  rewardgym/stimuli/__init__.py
  rewardgym/stimuli/alien_images.py
  rewardgym/stimuli/create_images.py
  rewardgym/stimuli/default_images.py
  rewardgym/stimuli/fixation_images.py
  rewardgym/stimuli/robot_images.py
  rewardgym/stimuli/spaceship_images.py
  rewardgym/tests/test_pychopy_render_risk_sensitive.py
  rewardgym/tests/test_stimuli_complex.py
Labels: Documentation, Testing

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
Labels: none

fixing permissions in auto-relase workflow
  .github/workflows/auto-release.yaml
Labels: none

trying to fix issues with auto-label
  .github/workflows/auto-label.yaml
Labels: none

fixing permissions in auto-relase workflow (#29)
  .github/workflows/auto-label.yaml
  .github/workflows/auto-release.yaml
Labels: none

refractoring run_task
  rewardgym/psychopy_extras.py
  rewardgym/runner/__init__.py
  rewardgym/runner/file_utils.py
  rewardgym/runner/psychopy_plugins.py
  rewardgym/runner/psychopy_runner.py
  rewardgym/utils.py
Labels: none

fixing tests
  rewardgym/tests/test_psychopy_stubs_smoke.py
Labels: Testing

updating imports
  rewardgym_psychopy.py
Labels: none

plug-ins written (first version)
  rewardgym/runner/psychopy_runner.py
Labels: none

plugin-system established
  rewardgym/runner/psychopy_runner.py
Labels: none

Adding psychopy utils (that might have gotten list)
  rewardgym/runner/psychopy_utils.py
Labels: none

quick fix to runner with plug-ins win was missing
  rewardgym/runner/psychopy_runner.py
Labels: none

Modular run taks (#33)
  rewardgym/psychopy_core.py
  rewardgym/runner/__init__.py
  rewardgym/runner/file_utils.py
  rewardgym/runner/psychopy_plugins.py
  rewardgym/runner/psychopy_runner.py
  rewardgym/runner/psychopy_utils.py
  rewardgym/tests/test_psychopy_stubs_smoke.py
  rewardgym/utils.py
  rewardgym_psychopy.py
Labels: Testing

Revert "Modular run taks (#33)"
  rewardgym/psychopy_core.py
  rewardgym/psychopy_extras.py
  rewardgym/runner/__init__.py
  rewardgym/runner/file_utils.py
  rewardgym/runner/psychopy_plugins.py
  rewardgym/runner/psychopy_runner.py
  rewardgym/tests/test_psychopy_stubs_smoke.py
  rewardgym/utils.py
  rewardgym_psychopy.py
Labels: Testing

Revert "Modular run taks (#33)" (#34)
  rewardgym/psychopy_core.py
  rewardgym/psychopy_extras.py
  rewardgym/runner/__init__.py
  rewardgym/runner/file_utils.py
  rewardgym/runner/psychopy_plugins.py
  rewardgym/runner/psychopy_runner.py
  rewardgym/tests/test_psychopy_stubs_smoke.py
  rewardgym/utils.py
  rewardgym_psychopy.py
Labels: Testing

refractoring plugins
  rewardgym/runner/psychopy_plugins.py
  rewardgym/runner/psychopy_runner.py
  rewardgym/runner/psychopy_utils.py
Labels: none

adding a few tests and fixed a bug
  rewardgym/runner/psychopy_utils.py
  rewardgym/tests/test_pspy_plugins.py
  rewardgym/tests/test_runner_fileutils.py
Labels: Testing

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
Labels: none

implemented an initial task_registry function, that should help with modularization.
  rewardgym/__init__.py
  rewardgym/tasks/task_loader.py
  rewardgym/tasks/utils.py
Labels: none

task loading now works - more or less
  rewardgym/__init__.py
  rewardgym/psychopy_render/__init__.py
  rewardgym/tasks/__init__.py
  rewardgym/tasks/task_loader.py
  rewardgym/tasks/utils.py
  rewardgym/tasks/yaml_tools.py
Labels: none

moving task instructions into main toolbox and into tasks.
  rewardgym/assets/buttonbox_highres.png
  rewardgym/assets/instructions_en.json
  rewardgym/psychopy_render/psychopy_stubs.py
  rewardgym/runner/psychopy_instructions.py
  rewardgym/runner/psychopy_runner.py
  rewardgym/tasks/task_loader.py
Labels: none

deleted assets folder - it's now fully integrated in submodules
  assets/__init__.py
  assets/instructions/gonogo_instructions.py
  assets/instructions/gonogo_instructions_cards.py
  assets/instructions/hcp_instructions.py
  assets/instructions/instructions.py
  assets/instructions/instructions_en.json
  assets/instructions/mid_instructions.py
  assets/instructions/posner_instructions.py
  assets/instructions/risksensitive_instructions.py
  assets/instructions/twostep_instructions.py
  assets/instructions/twostep_instructions_cards.py
Labels: Documentation

removed task specific instructions - they are now in the task submodules
  rewardgym/assets/instructions_en.json
Labels: none

tasks now have their own submodules - also for rendering
  rewardgym/psychopy_render/gonogo.py
  rewardgym/psychopy_render/hcp.py
  rewardgym/psychopy_render/mid.py
  rewardgym/psychopy_render/posner.py
  rewardgym/psychopy_render/risk_sensitive.py
  rewardgym/psychopy_render/two_step.py
Labels: none

tasks are now specified in their own repositories
  rewardgym/tasks/_mid_abcd_order.py
  rewardgym/tasks/gonogo.py
  rewardgym/tasks/hcp.py
  rewardgym/tasks/mid.py
  rewardgym/tasks/posner.py
  rewardgym/tasks/risk_sensitive.py
  rewardgym/tasks/two_step.py
  rewardgym/tests/test_pychopy_render_risk_sensitive.py
Labels: Testing

added line stub
  rewardgym/psychopy_render/psychopy_stubs.py
Labels: none

changed pathing in show instructions
  rewardgym/runner/psychopy_instructions.py
Labels: none

removed accidental print statement
  rewardgym/tasks/yaml_tools.py
Labels: none

.github/labeler.yml:

Documentation:
  - changed-files:
      - any-glob-to-any-file: ['docs/*', '.readthedocs.yml', 'README.md', 'LICENSE', 'MANIFEST.in', 'assets/*', 'notebooks/*']

Internal:
  - changed-files:
      - any-glob-to-any-file: ['.*', 'codecov.yml', 'setup.py', 'versioneer.py', '.github/*', 'rewardgym/_version.py', 'requirements.txt', 'pyproject.toml']

Testing:
  - changed-files:
      - any-glob-to-any-file: ['rewardgym/tests/*']
