Repository rewardMap/rewardGym, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Internal, Testing

Now actually response mapping, so changing all conditions
  rewardgym/tasks/risk_sensitive.py
Labels: none

adding test to reset function - should be expanded
  rewardgym/tests/test_env_envs.py
Labels: Testing

simulations now map agent's actions to button presses in logfiles.
  rewardgym/psychopy_render/special_stimuli.py
  rewardgym/psychopy_render/stimuli.py
Labels: none

updates to readme
  README.rst
  docs/images/rewardGym_structure.svg
Labels: none

trying to change image rendering
  README.rst
Labels: none

more trying out with images (ignoring sphinx build for now)
  README.rst
Labels: none

trying to fix bug in graph stripping
  rewardgym/utils.py
Labels: none

changes to model-baesd agents
  rewardgym/agents/modelbased_agents.py
Labels: none

Changing max points for gonogo to be only 80 % of best expected outcome
  rewardgym/tasks/__init__.py
Labels: none

posner, increasing cue size, now darkgrey targets, increased spacing
  rewardgym/psychopy_render/default_images.py
  rewardgym/psychopy_render/posner.py
Labels: none

drastically reducing iti, as remaining RT is added to iti in the end - should shorten protcols by about 4 mins / day
  rewardgym/tasks/gonogo.py
  rewardgym/tasks/posner.py
  rewardgym/tasks/risk_sensitive.py
  rewardgym/tasks/two_step.py
Labels: none

reverting to black images, pilot showed RT effect
  rewardgym/psychopy_render/default_images.py
Labels: none

pseudo random control of transitions. adding 10 trials.
  rewardgym/tasks/two_step.py
Labels: none

trying to fix installation
  pyproject.toml
Labels: Internal

still fixing installation
  pyproject.toml
Labels: Internal

adding kwargs to update of agent, so we can pass info, if necessary.
  rewardgym/agents/base_agent.py
  rewardgym/agents/modelbased_agents.py
  rewardgym/psychopy_core.py
Labels: none

info is now a keyword argument!
  rewardgym/psychopy_core.py
Labels: none

180 trials in two-step and generating 20er sequences.
  rewardgym/tasks/two_step.py
Labels: none

updating info dict
  rewardgym/utils.py
Labels: none

fixing a few timing inconsistencies
  rewardgym/tasks/gonogo.py
  rewardgym/tasks/risk_sensitive.py
Labels: none

removed a few spaces in instruction text
  assets/instructions/instructions_en.json
Labels: none

Small fixes and changes to instructions (#20)
  README.rst
  assets/instructions/instructions_en.json
  docs/images/rewardGym_structure.svg
  pyproject.toml
  rewardgym/agents/base_agent.py
  rewardgym/agents/modelbased_agents.py
  rewardgym/environments/base_env.py
  rewardgym/environments/psychopy_env.py
  rewardgym/psychopy_core.py
  rewardgym/psychopy_render/default_images.py
  rewardgym/psychopy_render/posner.py
  rewardgym/psychopy_render/risk_sensitive.py
  rewardgym/psychopy_render/special_stimuli.py
  rewardgym/psychopy_render/stimuli.py
  rewardgym/tasks/__init__.py
  rewardgym/tasks/gonogo.py
  rewardgym/tasks/posner.py
  rewardgym/tasks/risk_sensitive.py
  rewardgym/tasks/two_step.py
  rewardgym/tasks/utils.py
  rewardgym/tests/test_env_envs.py
  rewardgym/tests/test_pychopy_render_risk_sensitive.py
  rewardgym/utils.py
Labels: Internal, Testing

Create .codecov.yml
  .github/.codecov.yml
Labels: Internal

Create .codecov.yml (#21)
  .github/.codecov.yml
Labels: Internal

Delete CHANGELOG.md
  CHANGELOG.md
Labels: none

adding an alien based two-step task with generated aliens
  assets/instructions/twostep_instructions_cards.py
  rewardgym/psychopy_render/task_images.py
  rewardgym/psychopy_render/two_step.py
Labels: none

some attempts to improve instructions for gonogo and posner
  assets/instructions/instructions_en.json
Labels: none

adding some probabilistic changes to posner
  rewardgym/tasks/posner.py
Labels: none

adapted two-step task instructions following the new alien situation
  assets/instructions/instructions_en.json
Labels: none

small move in gonogo instructions
  assets/instructions/gonogo_instructions.py
Labels: none

update to auto-label
  .github/workflows/auto-label.yaml
Labels: none

Pilot study updates: Instructions to tasks and stimuli (#24)
  .github/workflows/auto-label.yaml
  assets/instructions/gonogo_instructions.py
  assets/instructions/instructions_en.json
  assets/instructions/twostep_instructions_cards.py
  rewardgym/psychopy_render/task_images.py
  rewardgym/psychopy_render/two_step.py
  rewardgym/tasks/posner.py
Labels: none

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
Labels: none

implemented a function that creates robots for the gonogo task
  rewardgym/psychopy_render/gonogo_images.py
Labels: none

implemented robots into gonogo task
  rewardgym/psychopy_render/gonogo.py
Labels: none

increased the mids lower border for reaction times
  rewardgym/psychopy_core.py
Labels: none

adapted mid stimulus, so it can be used as a simple circle
  rewardgym/psychopy_render/default_images.py
Labels: none

old gonogo instructions
  assets/instructions/gonogo_instructions_cards.py
Labels: none

new gonogo instructions
  assets/instructions/gonogo_instructions.py
Labels: none

added new robot story instructions
  assets/instructions/instructions_en.json
Labels: none

.github/labeler.yml:

Documentation:
  - changed-files:
      - any-glob-to-any-file: ['docs/*', '.readthedocs.yml', 'README.md', 'LICENSE', 'MANIFEST.in', 'assets/*', 'notebooks/*']

Internal:
  - changed-files:
      - any-glob-to-any-file: ['.*', 'codecov.yml', 'setup.py', 'versioneer.py', '.github/*', 'rewardgym/_version.py', 'requirements.txt', 'pyproject.toml']

Testing:
  - changed-files:
      - any-glob-to-any-file: ['rewardgym/tests/*']
